@model List<ContractMonthlyClaimSystem.Models.All_Queries>
@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/review.css" />

<table class="claims-table">
    <tr>
        <th>ClaimID</th>
        <th>Name</th>
        <th>Sessions</th>
        <th>Hours Worked</th>
        <th>Hourly Rate</th>
        <th>Document</th>
        <th>Review Status</th>
        <th>Final Action</th>

    </tr>

    @foreach(var Claim in Model){
    <tr>

        <td>@Claim.claimID</td>
        <td>@Claim.name</td>
        <td>@Claim.sessions</td>
        <td>@Claim.hoursWorked</td>
        <td>@Claim.hourlyRate</td>
        <td>@Claim.document</td>
        <td>working on this</td>
        <td>
            <select>
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
            </select>
        </td>
    </tr>
    }
   
</table>