@model List<ContractMonthlyClaimSystem.Models.All_Queries>


@Html.Partial("_Header")

<!--linking external styling-->
<link rel="stylesheet" href="/css/review.css" />

<table class="claims-table">
    <thead>
        <tr>
            <th>ClaimID</th>
            <th>Name</th>
            <th>Sessions</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Document</th>
            <th>Claim Status</th>
            </tr>
   </thead>

    <tbody>
        @{
            foreach (var all_Queries in Model)
        {
            <tr>
                <td>@all_Queries.claimID</td>
                <td>@all_Queries.name</td>
                <td>@all_Queries.sessions</td>
                <td>@all_Queries.hoursWorked</td>
                <td>@all_Queries.hourlyRate</td>
                <td>@all_Queries.document</td>
            <td>
                <select>
                    <option value="approve">Approve</option>
                    <option value="reject">Reject</option>
                </select>
            </td>
            </tr>
      }
      }
    </tbody>
</table>